/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower
        
    select
        background red
        padding 5px
        border 1px solid black
        border-radius 10px
        width 200px
        font-size 16px
        
    select:active
        border 1px solid rgba(0, 0, 0, 0)
    
    
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector


