/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.navbar-wrapper
    background #feeee0
    
.navbar
    text-align left
    height 70px
    padding 10px
    
.navbar li
    display inline-block
    list-style none
    width 70px
    font-size 18px
    font-weight bold
    padding 10px
    margin-right 20px
    text-transform uppercase
    color black
    
.navbar li a 
    text-decoration none

.logo-wrap{
    font-size 30px
    padding 20px
    font-weight 700
    height 150px
    background #cdb0d1
} 
    
    
    
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector


