/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-stylus/bootstrap/variables.styl
 */
$navbar-inverse-link-color = #5AADBB
$icon-font-path = "../../../client/bower_components/bootstrap-stylus/fonts/"

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

.btn-comments
    margin-top 10px
    padding 10px 20px
    color white
    background rgb(240, 101, 101)
 
.comment-rating
    margin-top 10px

.form-comments, textarea
    width 400px;

.comments-wrapper
    background rgba(235, 240, 204, 0.61)
    
  
    

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector